resources/2_1_0_solution_completeness_basic/sch/mef/MEF-Step.02.sch

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="Step.02" id="MEF-Step.02">
	<!-- Tests -->
	<param name="EIRA-018" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Legal view']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-019" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Organisational view']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-020" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Semantic view']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-021" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Technical view - application']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-022" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Technical view - infrastructure']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-023" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'EIF Underlying Principles view']//a:node[string(@elementRef) = $elementId])"/>
	<param name="EIRA-024" value="let $elementId := string(@identifier) return exists(/a:model/a:views/a:diagrams/a:view[string(a:name) = 'Technical view - application' or string(a:name) = 'Technical view - infrastructure']//a:node[string(@elementRef) = $elementId])"/>

	<!-- Parameters -->
	<param name="SBBName" value="normalize-space(substring-after(string(a:name), '&gt;&gt;'))"/>
	<param name="SBBDeclaredABBName" value="normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;'))"/>

	<!-- Contexts -->
	<param name="SBBsForLegalViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Legal View Concepts']/a:item[string(@identifierRef) = $abbElementId]))]))]"/>
	<param name="SBBsForOrganisationalViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Organisational View Concepts']/a:item[string(@identifierRef) = $abbElementId]))]))]"/>
	<param name="SBBsForSemanticViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Semantic View Concepts']/a:item[string(@identifierRef) = $abbElementId]))]))]"/>
	<param name="SBBsForTechAppViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return (not($declaredAbbName = 'Technical Interoperability Specification' or $declaredAbbName = 'Technical Specification') and exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Technical View Concepts' or string(a:label) = 'Technical View - Application Concepts']/a:item[string(@identifierRef) = $abbElementId]))])))]"/>
	<param name="SBBsForTechInfraViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return (not($declaredAbbName = 'Technical Interoperability Specification' or $declaredAbbName = 'Technical Specification') and exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Technical View - Infrastructure Concepts']/a:item[string(@identifierRef) = $abbElementId]))])))]"/>
	<param name="SBBsForIOPPrincipleViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Interoperability principles Concepts']/a:item[string(@identifierRef) = $abbElementId]))]))]"/>
	<param name="SBBsForTechViewABBs" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*.+[ \t]*&gt;&gt;.+') and (let $declaredAbbName := normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')) return ($declaredAbbName = 'Technical Interoperability Specification' or $declaredAbbName = 'Technical Specification'))]"/>

</pattern>
