resources/6_0_0/dlsat.completeness/basic/sch/mef/MEF-Step.01.sch

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="Step.01" id="MEF-Step.01">
	<!-- Tests -->
	<param name="EIRA-001-01" value="(a:views/a:diagrams/a:view[./a:name = 'Legal view'])/count(.) = 1"/>
	<param name="EIRA-001-02" value="(a:views/a:diagrams/a:view[./a:name = 'Organisational view'])/count(.) = 1"/>
	<param name="EIRA-001-03" value="(a:views/a:diagrams/a:view[./a:name = 'Semantic view'])/count(.) = 1"/>
	<param name="EIRA-001-04" value="(a:views/a:diagrams/a:view[./a:name = 'Technical view - application'])/count(.) = 1"/>
	<param name="EIRA-001-05" value="(a:views/a:diagrams/a:view[./a:name = 'Technical view - infrastructure'])/count(.) = 1"/>

	<param name="EIRA-036" value="exists(a:elements/a:element[matches(string(a:name), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification')])"/>
	
	<param name="EIRA-003" value="every $sbbPuri in a:properties/a:property[@propertyDefinitionRef = /a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier]/a:value satisfies (let $elementType := @xsi:type return(let $sbb := $EIRASBB[a:properties/a:property[@propertyDefinitionRef = /a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier]/a:value = $sbbPuri] return ($sbb/@xsi:type = $elementType or not(exists($sbb)))))"/>
	<param name="EIRA-004" value="let $sbbDeclaredAbbValue := a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:ABB']/@identifier)]/a:value return exists($ArchitectureBuildingBlock[a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier)]/a:value = $sbbDeclaredAbbValue])"/>
	<param name="EIRA-005" value="exists(a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:ABB']/@identifier)])"/>
	<param name="EIRA-006" value="let $sbbName := string(a:name) return (let $abb := document('eira/EIRA.xml')/a:model/a:elements/a:element[string(a:name) = $sbbName] return (not(exists($abb)) or not(exists($abb/a:properties/a:property[string(./a:value) = 'Obsolete' and string(./@propertyDefinitionRef) = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./a:name) = 'eira:ABB_Status']/@identifier)]))))"/>
	
	<param name="EIRA-008" value="every $abbPuri in a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier)]/a:value satisfies (let $elementType := @xsi:type return(let $abb := $EIRAABB[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier)]/a:value = $abbPuri] return ($abb/@xsi:type = $elementType or not(exists($abb)))))"/>
	<param name="EIRA-037" value="let $abbElementId := ./@identifier return ((some $relationship in (/a:model/a:relationships/a:relationship[string(./@source) = $abbElementId]) satisfies (let $otherElementId := string($relationship/@target) return (exists(/a:model/a:elements/a:element[string(./@identifier) = $otherElementId and matches(string(a:name), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification|Semantic Interoperability Specification|Technical Interoperability Specification')])))) or (some $relationship in (/a:model/a:relationships/a:relationship[string(./@target) = $abbElementId]) satisfies (let $otherElementId := string($relationship/@source) return (exists(/a:model/a:elements/a:element[string(./@identifier) = $otherElementId and matches(string(a:name), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification')])))))"/>
	
	<param name="EIRA-009" value="let $propertyValue := a:value return exists($propertyValue = 'eira:ArchitectureBuildingBlock' or $propertyValue = 'eira:SolutionBuildingBlock')"/>
	<param name="EIRA-010" value="let $pElement := (./../..) return (let $pIdentifier := string(@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $pIdentifier]/a:name) return (let $abbName := string(../../a:name) return (let $abbPropDefinition := (replace(string((document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[(let $abbPropId := string(./@propertyDefinitionRef) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $abbPropId and string(./a:name) = $propertyName])))]/a:value)[1]), '\-', '~')) return (if (matches($abbPropDefinition, '\[(([\w\d\s\|]+)|([\w\d\s]+))\]\*')) then true() else count($pElement/a:properties/a:property[string(./@propertyDefinitionRef) = $pIdentifier]) = 1)))))"/>
	<param name="EIRA-028" value="let $propValue := normalize-space(string(./a:value)) return (let $propId := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name) return (not($propertyName = 'eira:dependencies' and not((lower-case($propValue) = 'none' or lower-case($propValue) = '-' or lower-case($propValue) = ''))) or (let $idPropId := string(/a:model/a:propertyDefinitions/a:propertyDefinition[./a:name = 'ID']/@identifier) return (every $propValueToken in tokenize($propValue, '[,\s]+') satisfies (exists(/a:model/a:elements/a:element[./a:properties/a:property[./@propertyDefinitionRef = $idPropId and normalize-space(./a:value) = normalize-space($propValueToken)] and (let $referencedSbbName := string(a:name) return (matches ($referencedSbbName, 'Interoperability Requirement|Legal Interoperability Requirement|Organisational Interoperability Requirement|Semantic Interoperability Requirement|Technical Interoperability Requirement')))])))))))"/>
	
	<!-- Parameters -->
	<param name="EIRAABBElementType" value="let $abbPuri := a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier)]/a:value return ($EIRAABB[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:Puri']/@identifier)]/a:value = $abbPuri]/@xsi:type)"/>
	<param name="EIRASBBElementType" value="let $sbbPuri := a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier)]/a:value return($EIRASBB[a:properties/a:property[@propertyDefinitionRef = /a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:PURI']/@identifier]/a:value = $sbbPuri]/@xsi:type)"/>
	<param name="EIRAABB" value="document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:concept']/@identifier) and a:value = 'eira:ArchitectureBuildingBlock']]"/>
	<param name="EIRASBB" value="document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:concept']/@identifier) and a:value = 'eira:SolutionBuildingBlock']]"/>
	<param name="ABBName" value="a:name"/>
	<param name="SBBName" value="a:name"/>
	<param name="SBBDeclaredABBName" value="let $sbbDeclaredAbb := a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:ABB']/@identifier)]/a:value return($ArchitectureBuildingBlock[a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier)]/a:value = $sbbDeclaredAbb]/a:name)"/>
	<param name="SBBDeclaredABBValue" value="a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:ABB']/@identifier)]/a:value"/>
	<param name="ElementType" value="@xsi:type"/>
	<param name="MissingSBBAttributeNames" value="let $sbbProperties := a:properties return (let $sbbPropertyDefinitions := /a:model/a:propertyDefinitions return (let $abbName := string(./a:name) return (document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[not(string(./a:name) = 'ID' or string(./a:name) = 'eira:ABB_Status' or string(./a:name) = 'eira:synonym' or string(./a:name) = 'eira:unit_in_DG' or string(./a:name) = 'dct:references' or string(./a:name) = 'eira:reuse_status' or string(./a:name) = 'eira:specific_policy_issue' or string(./a:name) = 'eira:operational_date' or string(./a:name) = 'dct:description' or string(./a:name) = 'eira:policy_area' or string(./a:name) = 'eira:owner' or string(./a:name) = 'eira:description' or string(./a:name) = 'eira:reusability_score' or string(./a:name) = 'eira:data_quality_level' or string(./a:name) = 'eira:data_quality_score' or string(./a:name) = 'eira:iop_level' or string(./a:name) = 'eira:iop_score' or string(./a:name) = 'eira:GovIS_ID' or string(./a:name) = 'eira:IES_category' or string(./a:name) = 'eira:importance_for_the_functioning_of_the_EU' or string(./a:name) = 'eira:actual_use' or string(./a:name) = 'eira:actual_reuse' or string(./a:name) = 'eira:view') and (let $propId := string(./@identifier) return (let $propName := string(./a:name) return (exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[string(./@propertyDefinitionRef) = $propId and not(exists($sbbPropertyDefinitions/a:propertyDefinition[(let $modelPropId := string(./@identifier) return exists($sbbProperties/a:property[string(./@propertyDefinitionRef) = $modelPropId and normalize-space(string(./a:value)) != ''])) and string(./a:name) = $propName]))]))))])))/a:name/string(.)"/>
	<param name="SBBPropertyValue" value="a:value"/>
	<param name="SBBPropertySBBName" value="string(./../../a:name)"/>
	<param name="SBBPropertyDeclaredABBName" value="string(./../../a:name)"/>
	<param name="SBBPropertyName" value="let $propId := string(./@propertyDefinitionRef) return (string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name))"/>
	<param name="ABBExpectedPropertyValue" value="let $pIdentifier := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $pIdentifier]/a:name) return (let $abbName := string(./../../a:name) return (string((document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[(let $abbPropId := string(./@propertyDefinitionRef) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $abbPropId and string(./a:name) = $propertyName])))]/a:value)[1]))))"/>

	<!-- Contexts -->
	<param name="Model" value="/a:model"/>
	<param name="SolutionBuildingBlock" value="/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:concept']/@identifier) and a:value = 'eira:SolutionBuildingBlock']]"/>
	<param name="ArchitectureBuildingBlock" value="/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'eira:concept']/@identifier) and a:value = 'eira:ArchitectureBuildingBlock']]"/>	
	<param name="SBBPropertyDefinedInEIRA" value="/a:model/a:elements/a:element/a:properties/a:property[(let $propId := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name) return (let $abbName := string(./../../a:name) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./a:name) = $propertyName and (let $abbPropId := string(./@identifier) return (exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[string(./@propertyDefinitionRef) = $abbPropId])))])))))]"/>
</pattern>
