resources/eira/3_0_0_sat_completeness_basic/sch/mef/MEF-Step.01.sch

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="Step.01" id="MEF-Step.01">
	<!-- Tests -->
	<param name="EIRA-001-01" value="(a:views/a:diagrams/a:view[./a:name = 'Legal view'])/count(.) = 1"/>
	<param name="EIRA-001-02" value="(a:views/a:diagrams/a:view[./a:name = 'Organisational view'])/count(.) = 1"/>
	<param name="EIRA-001-03" value="(a:views/a:diagrams/a:view[./a:name = 'Semantic view'])/count(.) = 1"/>
	<param name="EIRA-001-04" value="(a:views/a:diagrams/a:view[./a:name = 'Technical view - application'])/count(.) = 1"/>
	<param name="EIRA-001-05" value="(a:views/a:diagrams/a:view[./a:name = 'Technical view - infrastructure'])/count(.) = 1"/>

	<param name="EIRA-021" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Aspect')])"/>
	<param name="EIRA-022" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Requirement|Legal Interoperability Requirement|Organisational Interoperability Requirement|Semantic Interoperability Requirement|Technical Interoperability Requirement')])"/>
	<param name="EIRA-023" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Machine to Machine Interface|Human Interface')])"/>
	<param name="EIRA-024-01" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Legislation Catalogue')])"/>
	<param name="EIRA-024-02" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Public Service Catalogue')])"/>
	<param name="EIRA-024-03" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Data Set Catalogue')])"/>
	<param name="EIRA-024-04" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Service Registry Component')])"/>
	<param name="EIRA-024-05" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Public Policy Implementation Approach')])"/>
	<param name="EIRA-024-06" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Service Delivery Model')])"/>
	<param name="EIRA-024-07" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Representation')])"/>
	<param name="EIRA-024-08" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Legal Interoperability Agreement')])"/>
	<param name="EIRA-024-09" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Organisational Interoperability Agreement')])"/>
	<param name="EIRA-024-10" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Semantic Interoperability Agreement')])"/>
	<param name="EIRA-024-11" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Technical Interoperability Agreement')])"/>

	<param name="EIRA-003" value="every $sbbDeclaredAbbName in substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), $elementType in string(@xsi:type) satisfies (let $abb := document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier)] and string(a:name) = $sbbDeclaredAbbName] return not(exists($abb)) or $abb/@xsi:type = $elementType)"/>
	<param name="EIRA-004" value="let $sbbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(a:name) = $sbbName])"/>
	<param name="EIRA-005" value="let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (let $sbbAttributes := a:properties return (every $abbAttributeName in document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[(let $propId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(a:name) = $abbName]/a:properties/a:property[string(@propertyDefinitionRef) = $propId]))]/a:name/string(.) satisfies (($abbAttributeName = 'ID' or $abbAttributeName = 'eira:ABB_Status' or $abbAttributeName = 'eira:synonym' or $abbAttributeName = 'eira:unit_in_DG' or $abbAttributeName = 'dct:references' or $abbAttributeName = 'eira:reuse_status' or $abbAttributeName = 'eira:specific_policy_issue' or $abbAttributeName = 'eira:operational_date' or $abbAttributeName = 'dct:description' or $abbAttributeName = 'eira:policy_area' or $abbAttributeName = 'eira:owner' or $abbAttributeName = 'eira:description' or $abbAttributeName = 'eira:reusability_score' or $abbAttributeName = 'eira:data_quality_level' or $abbAttributeName = 'eira:data_quality_score' or $abbAttributeName = 'eira:iop_level' or $abbAttributeName = 'eira:iop_score' or $abbAttributeName = 'eira:GovIS_ID' or $abbAttributeName = 'eira:IES_category' or $abbAttributeName = 'eira:importance_for_the_functioning_of_the_EU' or $abbAttributeName = 'eira:actual_use' or $abbAttributeName = 'eira:actual_reuse') or exists($sbbAttributes/a:property[(let $ssbPropId := string(@propertyDefinitionRef) return exists(/a:model/a:propertyDefinitions/a:propertyDefinition[string(@identifier) = $ssbPropId and string(a:name) = $abbAttributeName])) and normalize-space(string(./a:value)) != '']))))"/>
	<param name="EIRA-006" value="let $sbbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (let $abb := document('eira/EIRA.xml')/a:model/a:elements/a:element[string(a:name) = $sbbName] return (not(exists($abb)) or not(exists($abb/a:properties/a:property[string(./a:value) = 'Obsolete' and string(./@propertyDefinitionRef) = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./a:name) = 'eira:ABB_Status']/@identifier)]))))"/>
	<param name="EIRA-025" value="not(matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification|Semantic Interoperability Specification|Technical Interoperability Specification'))"/>
	<param name="EIRA-026" value="let $declaredAbbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return matches($declaredAbbName, '(Interoperability Aspect|Interoperability Requirement|Legal Interoperability Requirement|Organisational Interoperability Requirement|Semantic Interoperability Requirement|Technical Interoperability Requirement|Machine to Machine Interface|Human Interface|Public Service Catalogue|Data Set Catalogue|Service Registry Component|Service Delivery Model|Representation|Organisational Interoperability Agreement|Semantic Interoperability Agreement|Technical Interoperability Agreement)') or exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier) and starts-with(string(a:value), 'eira:')] and string(a:name) = $declaredAbbName and (let $abbElementId := string(@identifier) return exists(document('eira/EIRA.xml')/a:model/a:organizations//a:item[string(a:label) = 'Legal View Concepts']/a:item[string(@identifierRef) = $abbElementId]))])"/>
	<param name="EIRA-027" value="let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (if (matches($abbName, 'Interoperability Requirement|Legal Interoperability Requirement|Organisational Interoperability Requirement|Semantic Interoperability Requirement|Technical Interoperability Requirement')) then (let $sbbElementId := ./@identifier return (some $relationship in (/a:model/a:relationships/a:relationship[string(./@xsi:type) = 'Aggregation' and string(./@target) = $sbbElementId]) satisfies (let $parentSbbElementId := string($relationship/@source) return (exists(/a:model/a:elements/a:element[string(./@identifier) = $parentSbbElementId and substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') = 'Interoperability Aspect']))))) else (true()))"/>
	<param name="EIRA-008" value="every $elementName in string(a:name), $elementType in string(@xsi:type) satisfies ($elementType = string(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier)] and string(a:name) = $elementName]/@xsi:type))"/>
	<param name="EIRA-009" value="let $pValue := normalize-space(string(a:value)) return (let $pIdentifier := string(@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $pIdentifier]/a:name) return (matches($propertyName, '(ID|eira:synonym)') or (let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(../../a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (let $abbPropDefinition := (normalize-space(replace(string((document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[(let $abbPropId := string(./@propertyDefinitionRef) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $abbPropId and string(./a:name) = $propertyName])))]/a:value)[1]), '[\-\)\(]', '~'))) return (if (matches($abbPropDefinition, '\[[\w\d\s%~,\.\|]*[\w\d\s,\.%~]\]')) then let $validTokens := tokenize(substring-before(substring-after($abbPropDefinition, '['), ']'), '([ ]*\|[ ]*)|(^[ ]+)|([ ]+$)') return (index-of($validTokens, replace($pValue, '[\-\)\(]', '~')) > 0) else if ($abbPropDefinition != '') then normalize-space(replace($pValue, '[\-\)\(]', '~')) = $abbPropDefinition else true()))))))"/>
	<param name="EIRA-010" value="let $pElement := (./../..) return (let $pIdentifier := string(@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $pIdentifier]/a:name) return (let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(../../a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (let $abbPropDefinition := (replace(string((document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[(let $abbPropId := string(./@propertyDefinitionRef) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $abbPropId and string(./a:name) = $propertyName])))]/a:value)[1]), '\-', '~')) return (if (matches($abbPropDefinition, '\[(([\w\d\s\|]+)|([\w\d\s]+))\]\*')) then true() else count($pElement/a:properties/a:property[string(./@propertyDefinitionRef) = $pIdentifier]) = 1)))))"/>
	<param name="EIRA-028" value="let $propValue := normalize-space(string(./a:value)) return (let $propId := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name) return (not($propertyName = 'eira:dependencies' and not((lower-case($propValue) = 'none' or lower-case($propValue) = '-' or lower-case($propValue) = ''))) or (let $idPropId := string(/a:model/a:propertyDefinitions/a:propertyDefinition[./a:name = 'ID']/@identifier) return (every $propValueToken in tokenize($propValue, '[,\s]+') satisfies (exists(/a:model/a:elements/a:element[./a:properties/a:property[./@propertyDefinitionRef = $idPropId and normalize-space(./a:value) = normalize-space($propValueToken)] and (let $referencedSbbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (matches ($referencedSbbName, 'Interoperability Requirement|Legal Interoperability Requirement|Organisational Interoperability Requirement|Semantic Interoperability Requirement|Technical Interoperability Requirement')))])))))))"/>
	<param name="EIRA-036" value="exists(a:elements/a:element[matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification|Semantic Interoperability Specification|Technical Interoperability Specification')])"/>
	<param name="EIRA-037" value="let $abbElementId := ./@identifier return ((some $relationship in (/a:model/a:relationships/a:relationship[string(./@source) = $abbElementId]) satisfies (let $otherElementId := string($relationship/@target) return (exists(/a:model/a:elements/a:element[string(./@identifier) = $otherElementId and matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification|Semantic Interoperability Specification|Technical Interoperability Specification')])))) or (some $relationship in (/a:model/a:relationships/a:relationship[string(./@target) = $abbElementId]) satisfies (let $otherElementId := string($relationship/@source) return (exists(/a:model/a:elements/a:element[string(./@identifier) = $otherElementId and matches(substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:'), 'Interoperability Specification|Legal Interoperability Specification|Organisational Interoperability Specification|Semantic Interoperability Specification|Technical Interoperability Specification')])))))"/>

	<!-- Parameters -->
	<param name="ABBName" value="normalize-space(a:name)"/>
	<param name="SBBName" value="normalize-space(substring-after(string(a:name), '&gt;&gt;'))"/>
	<param name="SBBDeclaredABBName" value="substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:')"/>
	<param name="ElementType" value="string(@xsi:type)"/>
	<param name="EIRAElementType" value="let $elementName := string(a:name) return string(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:name = $elementName]/@xsi:type)"/>
	<param name="SBBEIRAElementType" value="let $elementName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return string(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:name = $elementName]/@xsi:type)"/>
	<param name="MissingSBBAttributeNames" value="let $sbbProperties := a:properties return (let $sbbPropertyDefinitions := /a:model/a:propertyDefinitions return (let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(./a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[not(string(./a:name) = 'ID' or string(./a:name) = 'eira:ABB_Status' or string(./a:name) = 'eira:synonym' or string(./a:name) = 'eira:unit_in_DG' or string(./a:name) = 'dct:references' or string(./a:name) = 'eira:reuse_status' or string(./a:name) = 'eira:specific_policy_issue' or string(./a:name) = 'eira:operational_date' or string(./a:name) = 'dct:description' or string(./a:name) = 'eira:policy_area' or string(./a:name) = 'eira:owner' or string(./a:name) = 'eira:description' or string(./a:name) = 'eira:reusability_score' or string(./a:name) = 'eira:data_quality_level' or string(./a:name) = 'eira:data_quality_score' or string(./a:name) = 'eira:iop_level' or string(./a:name) = 'eira:iop_score' or string(./a:name) = 'eira:GovIS_ID' or string(./a:name) = 'eira:IES_category' or string(./a:name) = 'eira:importance_for_the_functioning_of_the_EU' or string(./a:name) = 'eira:actual_use' or string(./a:name) = 'eira:actual_reuse') and (let $propId := string(./@identifier) return (let $propName := string(./a:name) return (exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[string(./@propertyDefinitionRef) = $propId and not(exists($sbbPropertyDefinitions/a:propertyDefinition[(let $modelPropId := string(./@identifier) return exists($sbbProperties/a:property[string(./@propertyDefinitionRef) = $modelPropId and normalize-space(string(./a:value)) != ''])) and string(./a:name) = $propName]))]))))])))/a:name/string(.)"/>
	<param name="SBBPropertyValue" value="string(a:value)"/>
	<param name="SBBPropertySBBName" value="normalize-space(substring-after(string(../../a:name), '&gt;&gt;'))"/>
	<param name="SBBPropertyDeclaredABBName" value="substring-after(normalize-space(substring-before(normalize-space(substring-after(string(../../a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:')"/>
	<param name="SBBPropertyName" value="let $propId := string(./@propertyDefinitionRef) return (string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name))"/>
	<param name="ABBExpectedPropertyValue" value="let $pIdentifier := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $pIdentifier]/a:name) return (let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(../../a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (string((document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[(let $abbPropId := string(./@propertyDefinitionRef) return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $abbPropId and string(./a:name) = $propertyName])))]/a:value)[1]))))"/>

	<!-- Contexts -->
	<param name="Model" value="/a:model"/>
	<param name="SolutionBuildingBlock" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*eira:.+[ \t]*&gt;&gt;.+')]"/>
	<param name="ArchitectureBuildingBlock" value="/a:model/a:elements/a:element[let $name := string(a:name) return exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[a:properties/a:property[@propertyDefinitionRef = string(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[a:name = 'dct:type']/@identifier)] and string(a:name) = $name])]"/>
	<param name="SBBPropertyDefinedInEIRA" value="/a:model/a:elements/a:element[matches(string(a:name), '&lt;&lt;[ \t]*eira:.+[ \t]*&gt;&gt;.+')]/a:properties/a:property[(let $propId := string(./@propertyDefinitionRef) return (let $propertyName := string(/a:model/a:propertyDefinitions/a:propertyDefinition[string(./@identifier) = $propId]/a:name) return (let $abbName := substring-after(normalize-space(substring-before(normalize-space(substring-after(string(./../../a:name), '&lt;&lt;')), '&gt;&gt;')), 'eira:') return (exists(document('eira/EIRA.xml')/a:model/a:propertyDefinitions/a:propertyDefinition[string(./a:name) = $propertyName and (let $abbPropId := string(./@identifier) return (exists(document('eira/EIRA.xml')/a:model/a:elements/a:element[string(./a:name) = $abbName]/a:properties/a:property[string(./@propertyDefinitionRef) = $abbPropId])))])))))]"/>
</pattern>
